// Шрифты
$primary-font: 'Roboto', sans-serif;

$main-text-color:  #FFFFFF;
$secondary-text-color:#808080;

// Цвета фонов секций
$section-background:#010001;
// Цвета фонов карточек

$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);

// Медиа

// Footer
