// Шрифты
$primary-font: 'Roboto', sans-serif;

$main-text-color:  #FFFFFF;
$secondary-text-color:#808080;

$nevigation-color: #0000ff;
$nevigation-color-here:#e94343;

$underline-color: #fdfd35;

// Цвета фонов секций
$section-background:#010001;
// Цвета фонов карточек

$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);

// цвет кнопки
$menu-button-color: #0000ff;
$menu-close-button-color: #010001;

$background-menu-mob: #808080;