<section class="gallery">
    <div class="container">
        <picture>
            <source srcset="
                ./images/earth-desk-1x.jpg 1x, 
                ./images/earth-desk-2x.jpg 2x"
             media="(min-width:1320px)">
            <source srcset="
                ./images/earth-tab-1x.jpg 1x, 
                ./images/earth-tab-2x.jpg 2x" 
            media="(min-width:768px)">
            <source srcset="
                ./images/earth-mob-1x.jpg 1x, 
                ./images/earth-mob-1x.jpg 2x"
            media="(min-width:480px)">
            <img
            src=" ./images/earth-desk-1x.jpg" alt="earth" width="1320">
        </picture>
        <picture class="picture-mob">
            <img src=" ./images/earth-mob.jpg" alt="earth">
        </picture>
    </div>
</section>