<section class="hero">
    <div class="container">
        <div class="contaner-nav">
            <nav class="navigation">
                <a class="logo" href="">
                    <svg class="logo__svg" width="138" height="17">
                        <use href="./images/sprite.svg#icon-logo-spacex"></use>
                    </svg>
                </a>
                <ul class="nav-left-list">
                    <li class="nav-left-list__item"><a class="nav-left-list__link" href="">Falcon 9</a></li>
                    <li class="nav-left-list__item"><a class="nav-left-list__link" href="">Falcon Heavy</a></li>
                    <li class="nav-left-list__item"><a class="nav-left-list__link" href="">Dragon</a></li>
                    <li class="nav-left-list__item"><a class="nav-left-list__link" href="">Updates</a></li>
                </ul>
                <ul class="nav-rightt-list">
                    <li class="nav-right-list__item"><a class="nav-right-list__link" href="">About</a></li>
                    <li class="nav-right-list__item"><a class="nav-right-list__link" href="">Gallery</a></li>
                    <li class="nav-right-list__item"><a class="nav-right-list__link" href="">Shop</a></li>
                </ul>
            </nav>
        </div>
        <div class="wrapper-title">
            <h1 class="title">Falcon Heavy</h1>
            <p class="text">The most powerful operational rocket in the world by a factor of two</p>
        </div>
    </div>
</section>