.hero {
    background: $section-background;
    padding-bottom: 32px;
}
.contaner-nav{
    margin-bottom: 122px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
 padding: 53px 0;
}
.nav-left-list{
    display: flex;
    // justify-content: center;
    // align-items: center;
}
.nav-left-list__item:not(:last-child){
    margin-right: 20px;
}
.nav-left-list__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: $main-text-color;
    padding: 54px 0;
}
.nav-rightt-list{
    display: flex;
}
.nav-right-list__item:not(:last-child){
    margin-right: 20px;
}
.nav-right-list__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: $secondary-text-color;
    padding: 54px 0;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.17;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.37;
    width: 268px;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
margin: 0 auto;
}